.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImageContainer {
  position: relative;
  width: 100%;
  height: 40vh;
}

.mainImage {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.thumbnailContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(22%,1fr));
  margin: 1vh;
}

.thumbnail {
  height: 8vh;
  margin: 0 0.5vh;
  border-radius: 1vh;
  background-color: rgb(233, 248, 255);
  cursor: pointer;
  border: 0.2vh solid rgba(0, 0, 0, 0.1);
}

.thumbnail img {
  border-radius: 22%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}