
@font-face {
  font-family: Tanha;
  src: url('../public/font/IRANSansWeb\(FaNum\).ttf');
}

* {
  transition: all 0.4s;
  box-sizing: border-box;
  font-family: Tanha;
}

body {
  font-family: Tanha;
  margin: 0;
}

