.container {
    height: 100%;
    width: 100%;
    border-radius: 0.5vh;
  }
  
  .map {
    width: 100%;
    height: 100%;
    border-radius: 0.7vh;
  }
  
  @media (max-width: 999px) {
    .container {
      height: 40vh;
    }
  }
  